html {
    background-image: url(https://wallpaperaccess.com/full/42615.jpg);
}
* {
    box-sizing: border-box
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
  }
  
  #root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }
  
  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }
  
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -10px, 0);
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  .card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  
  .card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  }
  
  .card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }

  /* loader */

  body, html {
    height: 100%;
    text-align: center;
}


.loader {
  display: block;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

.loader-container {
    display: block;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(https://media0.giphy.com/media/l0HlGjg97mtrMrYVW/source.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4);
  animation: loader-inner 2s infinite ease-in;
  background-image: url(https://media0.giphy.com/media/2vlC9FMLSmqGs/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/* user input */

.userInputs {
    display: flex;
    align-items: center;
  justify-content: center;
  align-items: stretch;
  
}

/* button */

.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 9999em;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;


    }

    .example_c:hover {
        color: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%) !important;
        background: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        }

/* input */

#myInput {
	color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 9999em;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;

    

}

#myInput:hover {
    color: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%) !important;
        background: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
}


